:root {
  font-family: 'Rubik', 'sans-serif';

  color-scheme: light dark;
  background-image: linear-gradient(bottom left,#000,#0d131f);

  font-synthesis: weight style small-caps;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgb(109, 193, 241);
	border-radius: 5px;
}